<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>Create a Chapter</nb-card-header>
      <nb-card-body>
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="mt-3">
          <div class="row">
            <div class="col-12 form-group">
              <label for="categoryName" class="label">Chapter Name</label>
              <input
                formControlName="name"
                id="categoryName"
                type="text"
                placeholder="Chapter Name"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-group">
              <label for="categoryDescription" class="label"
                >Chapter Description</label
              >
              <input
                formControlName="description"
                id="categoryDescription"
                type="text"
                placeholder="Chapter Description"
                nbInput
                fullWidth
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="curriculumId" class="label"
                >Curriculum&nbsp;&nbsp;&nbsp;&nbsp;</label
              >
              <nb-select
                id="curriculumId"
                name="selectedCurriculum"
                [selected]="0"
              >
                <nb-option value="0">Select Curriculum</nb-option>
                <nb-option value="1">Citizenship</nb-option>
                <nb-option value="2">Driving License</nb-option>
              </nb-select>
            </div>
          </div>

          <button type="submit" nbButton status="primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
