<h1>Categories</h1>

<div class="row">
  <div class="col">
    <a routerLink="/pages/category-form" nbButton status="primary"
      >Add New Category</a
    >
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <nb-card class="p-2 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.name }}</td>
            <td>{{ category.description ?? "N/A" }}</td>
          </tr>
        </tbody>
      </table>
    </nb-card>
  </div>
</div>
