<h1>Chapters</h1>

<div class="row">
  <div class="col">
    <a routerLink="/pages/category-form" nbButton status="primary"
      >Add New Chapters</a
    >
  </div>
</div>
<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="row mt-3">
    <div class="col-9">
      <label for="search" class="label">Search</label>
      <input
        id="search"
        type="text"
        placeholder="Search"
        formControlName="searchText"
        nbInput
        fullWidth
      />
    </div>
    <div class="col-2">
      <label for="curriculumId" class="label"
        >Curriculum&nbsp;&nbsp;&nbsp;&nbsp;</label
      >
      <nb-select
        id="curriculumId"
        name="selectedCurriculum"
        formControlName="curriculumId"
        style="width: 100% !important"
      >
        <nb-option value="0">Select</nb-option>
        <nb-option
          *ngFor="let selectItem of curriculumSelectItems"
          [value]="selectItem.value"
          >{{ selectItem.text }}</nb-option
        >
      </nb-select>
    </div>
    <div class="col-1">
      <button
        type="submit"
        style="margin-top: 1.8rem !important"
        nbButton
        status="primary"
      >
        Search
      </button>
    </div>
  </div>
</form>
<div class="row mt-3">
  <div class="col">
    <nb-card class="p-2 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">SL</th>
            <th scope="col">Name</th>
            <th scope="col">Curriculum</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.curriculum.name ?? "N/A" }}</td>
            <td>{{ category.description ?? "N/A" }}</td>
            <td>
              <button
                nbButton
                status="warning"
                class="mx-3"
                (click)="onClickEdit(category.id)"
              >
                Edit
              </button>

              <button
                nbButton
                status="danger"
                class="mx-3"
                (click)="onClickDelete(category.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card>
  </div>
</div>
