<h1>Questions</h1>

<div class="row">
  <div class="col">
    <a routerLink="/pages/question-form" nbButton status="primary"
      >Add New Question</a
    >
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <form [formGroup]="searchForm">
      <label for="search" class="label">Search</label>
      <input
        id="search"
        type="text"
        placeholder="Search"
        formControlName="searchText"
        nbInput
        fullWidth
      />
    </form>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <nb-card class="p-2 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Curriculum</th>
            <th scope="col">Lesson</th>
            <th scope="col">Category</th>
            <th scope="col">Question Media URL</th>
            <th scope="col">QuestionType</th>
            <th scope="col">Number of Visible Options</th>
            <th scope="col">Correct Answer Option(s)</th>
            <th scope="col">Answer Option 1</th>
            <th scope="col">Option 1 Media</th>
            <th scope="col">Answer Option 2</th>
            <th scope="col">Option 2 Media</th>
            <th scope="col">Answer Option 3</th>
            <th scope="col">Option 3 Media</th>
            <th scope="col">Answer Option 4</th>
            <th scope="col">Option 4 Media</th>
            <th scope="col">Answer Option 5</th>
            <th scope="col">Option 5 Media</th>
            <th scope="col">Answer Option 6</th>
            <th scope="col">Option 6 Media</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions">
            <td>{{ question.questionText }}</td>
            <td>
              {{ question.curriculum ? question.curriculum.name : "N/A" }}
            </td>
            <td>{{ question.lesson ? question.lesson.name : "N/A" }}</td>
            <td>{{ question.chapter ? question.chapter.name : "N/A" }}</td>
            <td>
              <div *ngIf="question.questionMediaUrl; else elseBlock">
                <img
                  src="{{ question.questionMediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>{{ getQuestionType(question) }}</td>
            <td>{{ question.numberOfOptionsVisible ?? "N/A" }}</td>
            <td>{{ question.correctAnswerText }}</td>
            <td>{{ question.answerOption1Text }}</td>
            <td>
              <div *ngIf="question.answerOption1MediaUrl; else elseBlock">
                <img
                  src="{{ question.answerOption1MediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>{{ question.answerOption2Text ?? "N/A" }}</td>
            <td>
              <div *ngIf="question.answerOption2MediaUrl; else elseBlock">
                <img
                  src="{{ question.answerOption2MediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>{{ question.answerOption3Text ?? "N/A" }}</td>
            <td>
              <div *ngIf="question.answerOption3MediaUrl; else elseBlock">
                <img
                  src="{{ question.answerOption3MediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>{{ question.answerOption4Text ?? "N/A" }}</td>
            <td>
              <div *ngIf="question.answerOption4MediaUrl; else elseBlock">
                <img
                  src="{{ question.answerOption4MediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>{{ question.answerOption5Text ?? "N/A" }}</td>
            <td>
              <div *ngIf="question.answerOption5MediaUrl; else elseBlock">
                <img
                  src="{{ question.answerOption5MediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>{{ question.answerOption6Text ?? "N/A" }}</td>
            <td>
              <div *ngIf="question.answerOption6MediaUrl; else elseBlock">
                <img
                  src="{{ question.answerOption6MediaUrl }}"
                  class="table-image"
                />
              </div>
              <ng-template #elseBlock>N/A</ng-template>
            </td>
            <td>
              <button
                nbButton
                status="warning"
                class="mx-3"
                (click)="onClickEdit(question.id)"
              >
                Edit
              </button>

              <button
                nbButton
                status="danger"
                class="mx-3"
                (click)="onClickDelete(question.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card>
  </div>
</div>
