<h1>Lessons</h1>

<div class="row">
  <div class="col">
    <a routerLink="/pages/lesson-form" nbButton status="primary"
      >Add New Lessons</a
    >
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <nb-card class="p-2 table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons">
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.description ?? "N/A" }}</td>
            <td>{{ lesson.category && (lesson.category.name ?? "N/A") }}</td>
            <td>
              <button
                nbButton
                status="warning"
                class="mx-3"
                (click)="onClickEdit(lesson.id)"
              >
                Edit
              </button>

              <button
                nbButton
                status="danger"
                class="mx-3"
                (click)="onClickDelete(lesson.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card>
  </div>
</div>
