<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>Create a question</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-4">
            <nb-checkbox status="primary" [(ngModel)]="hasQuestionMedia"
              >Question with media</nb-checkbox
            >
          </div>
          <!-- <div class="col-4">
            <nb-checkbox status="primary" [(ngModel)]="isMultipleChoice"
              >Is multiple choice</nb-checkbox
            >
          </div> -->
          <div class="col-4">
            <nb-checkbox status="primary" [(ngModel)]="hasAnswerWithMedia"
              >Choice with media</nb-checkbox
            >
          </div>
        </div>
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" class="mt-3">
          <div class="row">
            <div class="col-4">
              <label for="categoryId" class="label"
                >Chapter&nbsp;&nbsp;&nbsp;&nbsp;</label
              >
              <nb-select
                id="categoryId"
                name="selectedCategory"
                formControlName="categoryId"
              >
                <nb-option value="0">Select Chapter</nb-option>
                <nb-option
                  *ngFor="let selectItem of categorySelectItems"
                  [value]="selectItem.value"
                  >{{ selectItem.text }}</nb-option
                >
              </nb-select>
            </div>
            <div
              class="col-4"
              [hidden]="this.questionForm.controls.categoryId.value !== '0'"
            >
              <label for="curriculumId" class="label"
                >Curriculum&nbsp;&nbsp;&nbsp;&nbsp;</label
              >
              <nb-select
                id="curriculumId"
                name="selectedCategory"
                formControlName="curriculumId"
              >
                <nb-option value="0">Select Curriculum</nb-option>
                <nb-option
                  *ngFor="let selectItem of curriculumSelectItems"
                  [value]="selectItem.value"
                  >{{ selectItem.text }}</nb-option
                >
              </nb-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12 form-group">
              <label for="questionText" class="label">Question Text</label>
              <input
                formControlName="questionText"
                id="questionText"
                type="text"
                placeholder="Question Text"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div class="row" *ngIf="hasQuestionMedia">
            <div class="form-group col-9">
              <label for="questionmediaUrl" class="label"
                >Question Media URL</label
              >
              <input
                id="questionMediaUrl"
                formControlName="questionMediaUrl"
                type="url"
                placeholder="Question Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="questionMediaType" class="label">Media Type</label>
              <nb-select
                id="questionMediaType"
                selected="1"
                formControlName="questionMediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>

          <div class="row" *ngIf="isMultipleChoice">
            <div class="form-group col-12">
              <label for="numberOfOptionsVisible" class="label"
                >Number of Visible Options</label
              >
              <input
                id="numberOfOptionsVisible"
                formControlName="numberOfOptionsVisible"
                type="number"
                min="2"
                max="6"
                placeholder="Number of Options Visible"
                nbInput
                fullWidth
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-12">
              <label for="answerOption1Text" class="label">{{
                isMultipleChoice ? "Answer Option 1 Text" : "Answer Text"
              }}</label>
              <input
                formControlName="answerOption1Text"
                id="answerOption1Text"
                type="text"
                placeholder="{{
                  isMultipleChoice ? 'Answer Option 1 Text' : 'Answer Text'
                }}"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div class="row" *ngIf="isMultipleChoice && hasAnswerWithMedia">
            <div class="form-group col-9">
              <label for="answerOption1MediaUrl" class="label"
                >Answer Option 1 Media URL</label
              >
              <input
                formControlName="answerOption1MediaUrl"
                id="answerOption1MediaUrl"
                type="url"
                placeholder="Answer Option 1 Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="answerOption1MediaType" class="label"
                >Media Type</label
              >
              <nb-select
                *ngIf="isMultipleChoice && hasAnswerWithMedia"
                selected="1"
                formControlName="answerOption1MediaType"
                id="answerOption1MediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>
          <div class="row" *ngIf="isMultipleChoice">
            <div class="col-12">
              <div *ngIf="isMultipleChoice">
                <nb-checkbox status="primary" formControlName="isAnswer1Correct"
                  >Correct Answer</nb-checkbox
                >
              </div>
            </div>
          </div>

          <div class="row" *ngIf="isMultipleChoice">
            <div class="form-group col-12">
              <label for="answerOption2Text" class="label">
                Answer Option 2 Text
              </label>
              <input
                formControlName="answerOption2Text"
                id="answerOption2Text"
                type="text"
                placeholder="Answer Option 2 Text"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div class="row" *ngIf="isMultipleChoice && hasAnswerWithMedia">
            <div class="form-group col-9">
              <label for="answerOption2MediaUrl" class="label"
                >Answer Option 2 Media URL</label
              >
              <input
                formControlName="answerOption2MediaUrl"
                id="answerOption2MediaUrl"
                type="url"
                placeholder="Answer Option 2 Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="answerOption2MediaType" class="label"
                >Media Type</label
              >
              <nb-select
                *ngIf="isMultipleChoice && hasAnswerWithMedia"
                selected="1"
                formControlName="answerOption2MediaType"
                id="answerOption2MediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>
          <div class="row" *ngIf="isMultipleChoice">
            <div class="col-12">
              <div *ngIf="isMultipleChoice">
                <nb-checkbox status="primary" formControlName="isAnswer2Correct"
                  >Correct Answer</nb-checkbox
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 2
            "
          >
            <div class="form-group col-12">
              <label for="answerOption3Text" class="label">
                Answer Option 3 Text
              </label>
              <input
                formControlName="answerOption3Text"
                id="answerOption3Text"
                type="text"
                placeholder="Answer Option 3 Text"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              hasAnswerWithMedia &&
              questionForm.controls.numberOfOptionsVisible.value > 2
            "
          >
            <div class="form-group col-9">
              <label for="answerOption3MediaUrl" class="label"
                >Answer Option 3 Media URL</label
              >
              <input
                formControlName="answerOption3MediaUrl"
                id="answerOption3MediaUrl"
                type="url"
                placeholder="Answer Option 3 Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="answerOption3MediaType" class="label"
                >Media Type</label
              >
              <nb-select
                *ngIf="isMultipleChoice && hasAnswerWithMedia"
                selected="1"
                formControlName="answerOption3MediaType"
                id="answerOption3MediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 2
            "
          >
            <div class="col-12">
              <div *ngIf="isMultipleChoice">
                <nb-checkbox status="primary" formControlName="isAnswer3Correct"
                  >Correct Answer</nb-checkbox
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 3
            "
          >
            <div class="form-group col-12">
              <label for="answerOption4Text" class="label">
                Answer Option 4 Text
              </label>
              <input
                formControlName="answerOption4Text"
                id="answerOption4Text"
                type="text"
                placeholder="Answer Option 4 Text"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              hasAnswerWithMedia &&
              questionForm.controls.numberOfOptionsVisible.value > 3
            "
          >
            <div class="form-group col-9">
              <label for="answerOption4MediaUrl" class="label"
                >Answer Option 4 Media URL</label
              >
              <input
                formControlName="answerOption4MediaUrl"
                id="answerOption4MediaUrl"
                type="url"
                placeholder="Answer Option 4 Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="answerOption4MediaType" class="label"
                >Media Type</label
              >
              <nb-select
                *ngIf="isMultipleChoice && hasAnswerWithMedia"
                selected="1"
                formControlName="answerOption4MediaType"
                id="answerOption4MediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 3
            "
          >
            <div class="col-12">
              <div *ngIf="isMultipleChoice">
                <nb-checkbox status="primary" formControlName="isAnswer4Correct"
                  >Correct Answer</nb-checkbox
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 4
            "
          >
            <div class="form-group col-12">
              <label for="answerOption5Text" class="label">
                Answer Option 5 Text
              </label>
              <input
                formControlName="answerOption5Text"
                id="answerOption5Text"
                type="text"
                placeholder="Answer Option 5 Text"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              hasAnswerWithMedia &&
              questionForm.controls.numberOfOptionsVisible.value > 4
            "
          >
            <div class="form-group col-9">
              <label for="answerOption5MediaUrl" class="label"
                >Answer Option 5 Media URL</label
              >
              <input
                formControlName="answerOption5MediaUrl"
                id="answerOption5MediaUrl"
                type="url"
                placeholder="Answer Option 5 Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="answerOption5MediaType" class="label"
                >Media Type</label
              >
              <nb-select
                *ngIf="isMultipleChoice && hasAnswerWithMedia"
                selected="1"
                formControlName="answerOption5MediaType"
                id="answerOption5MediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 4
            "
          >
            <div class="col-12">
              <div *ngIf="isMultipleChoice">
                <nb-checkbox status="primary" formControlName="isAnswer5Correct"
                  >Correct Answer</nb-checkbox
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 5
            "
          >
            <div class="form-group col-12">
              <label for="answerOption6Text" class="label">
                Answer Option 6 Text
              </label>
              <input
                formControlName="answerOption6Text"
                id="answerOption6Text"
                type="text"
                placeholder="Answer Option 6 Text"
                nbInput
                fullWidth
                required
              />
            </div>
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              hasAnswerWithMedia &&
              questionForm.controls.numberOfOptionsVisible.value > 5
            "
          >
            <div class="form-group col-9">
              <label for="answerOption6MediaUrl" class="label"
                >Answer Option 6 Media URL</label
              >
              <input
                formControlName="answerOption6MediaUrl"
                id="answerOption6MediaUrl"
                type="url"
                placeholder="Answer Option 6 Media URL"
                nbInput
                fullWidth
              />
            </div>
            <!-- <div class="form-group col-3 text-end">
              <label for="answerOption6MediaType" class="label"
                >Media Type</label
              >
              <nb-select
                *ngIf="isMultipleChoice && hasAnswerWithMedia"
                selected="1"
                formControlName="answerOption6MediaType"
                id="answerOption6MediaType"
              >
                <nb-option value="1">Photo</nb-option>
                <nb-option value="2">Video</nb-option>
              </nb-select>
            </div> -->
          </div>
          <div
            class="row"
            *ngIf="
              isMultipleChoice &&
              questionForm.controls.numberOfOptionsVisible.value > 5
            "
          >
            <div class="col-12">
              <div *ngIf="isMultipleChoice">
                <nb-checkbox status="primary" formControlName="isAnswer6Correct"
                  >Correct Answer</nb-checkbox
                >
              </div>
            </div>
          </div>

          <button type="submit" nbButton status="primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <nb-card>
      <nb-card-header>Preview</nb-card-header>
      <nb-card-body>
        <div class="row">
          <h5>{{ previewQuestionText }}</h5>
        </div>
        <div *ngIf="hasQuestionMedia" class="row">
          <img
            [src]="previewMediaUrl"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
        <div *ngIf="isMultipleChoice && previewAnswerOption1Text" class="row">
          (a)&nbsp;{{ previewAnswerOption1Text }}
        </div>
        <div
          *ngIf="
            isMultipleChoice &&
            previewAnswerOption1Text &&
            hasAnswerWithMedia &&
            questionForm.controls.answerOption1MediaUrl &&
            questionForm.controls.answerOption1MediaUrl.value
          "
          class="row"
        >
          <img
            [src]="questionForm.controls.answerOption1MediaUrl.value"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
        <div *ngIf="isMultipleChoice && previewAnswerOption2Text" class="row">
          (b)&nbsp;{{ previewAnswerOption2Text }}
        </div>
        <div
          *ngIf="
            isMultipleChoice &&
            previewAnswerOption1Text &&
            hasAnswerWithMedia &&
            questionForm.controls.answerOption2MediaUrl &&
            questionForm.controls.answerOption2MediaUrl.value
          "
          class="row"
        >
          <img
            [src]="questionForm.controls.answerOption2MediaUrl.value"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
        <div *ngIf="isMultipleChoice && previewAnswerOption3Text" class="row">
          (c)&nbsp;{{ previewAnswerOption3Text }}
        </div>
        <div
          *ngIf="
            isMultipleChoice &&
            previewAnswerOption1Text &&
            hasAnswerWithMedia &&
            questionForm.controls.answerOption3MediaUrl &&
            questionForm.controls.answerOption3MediaUrl.value
          "
          class="row"
        >
          <img
            [src]="questionForm.controls.answerOption3MediaUrl.value"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
        <div *ngIf="isMultipleChoice && previewAnswerOption4Text" class="row">
          (d)&nbsp;{{ previewAnswerOption4Text }}
        </div>
        <div
          *ngIf="
            isMultipleChoice &&
            previewAnswerOption1Text &&
            hasAnswerWithMedia &&
            questionForm.controls.answerOption4MediaUrl &&
            questionForm.controls.answerOption4MediaUrl.value
          "
          class="row"
        >
          <img
            [src]="questionForm.controls.answerOption4MediaUrl.value"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
        <div *ngIf="isMultipleChoice && previewAnswerOption5Text" class="row">
          (e)&nbsp;{{ previewAnswerOption5Text }}
        </div>
        <div
          *ngIf="
            isMultipleChoice &&
            previewAnswerOption1Text &&
            hasAnswerWithMedia &&
            questionForm.controls.answerOption5MediaUrl &&
            questionForm.controls.answerOption5MediaUrl.value
          "
          class="row"
        >
          <img
            [src]="questionForm.controls.answerOption5MediaUrl.value"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
        <div *ngIf="isMultipleChoice && previewAnswerOption6Text" class="row">
          (f)&nbsp;{{ previewAnswerOption6Text }}
        </div>
        <div
          *ngIf="
            isMultipleChoice &&
            previewAnswerOption1Text &&
            hasAnswerWithMedia &&
            questionForm.controls.answerOption6MediaUrl &&
            questionForm.controls.answerOption6MediaUrl.value
          "
          class="row"
        >
          <img
            [src]="questionForm.controls.answerOption6MediaUrl.value"
            alt="Question media"
            style="width: 300px; height: auto"
          />
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
